.landing-page-contianer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    width: 100%;
    box-sizing: border-box;
    margin-top: 90px;
    overflow: scroll;
    scrollbar-width: none;
}