 .login-container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow: scroll;
    scrollbar-width: none;
}
 
.success-message{
    color: green;
}

.error-message{
    color: red;
}