.nav-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  background-color: #000000;
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 15px 20px;
  box-sizing: border-box;

  z-index: 999;
}

.icon-brand-container {
  display: flex;
  align-items: center;
}

.brand-heading {
  font-weight: bold;
  margin-left: 10px;
  font-family: "sans-serif";
  font-size: 20px;
}

.search-text {
  font-size: 11px;
  font-weight: 700;
  margin-left: 10px;
}

.chat-notification-profile-container {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.admin-name {
  margin-left: 10px;
  font-size: 20px;
}
