.dashboard-container{
    min-height: 100vh;
    overflow: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    box-sizing: border-box;

}